@charset "utf-8";
.container { height:auto; }
.container_left { height:auto; }
.container_right { height:auto; }
.container_main { height:auto; }
.container_main .main_content { width:946px; height:auto; padding:10px 7px 0px 7px; }
.container_main .main_content_left { float:left; width:257px; height:auto; }
.container_main .main_content_right { float:right; width:673px; height:auto; }

.main_content_left .article_cat { width:257px; height:auto; padding-bottom:30px; background-color:#efefef; }
.main_content_left .article_cat .article_cat_title { width:242px; height:31px; background-image:url(../images/article_cat_title.png); line-height:31px; padding-left:15px; }
.main_content_left .article_cat .article_cat_title .title_name_cn { font-size:14px; color:#FFFFFF; font-weight:bolder; }
.main_content_left .article_cat .article_cat_title .title_name_en { font-size:12px; color:#3b9ace; }
.main_content_left .article_cat .article_cat_content { margin-top:15px; }
.main_content_left .article_cat .article_cat_content ul li.article_cat_item { width:257px; height:39px; line-height:39px; }
.main_content_left .article_cat .article_cat_content ul li.article_cat_separate { width:257px; height:6px; background-image:url(../images/article_cat_separate.png); }
.main_content_left .article_cat .article_cat_content ul li a { display:block; width:237px; height:39px; padding-left:20px; font-size:14px; color:#333333; }
.main_content_left .article_cat .article_cat_content ul li a:hover { background-image:url(../images/article_cat_select.png); color:#0042b9; }
.main_content_left .article_cat .article_cat_content ul li a.select { background-image:url(../images/article_cat_select.png); color:#0042b9; }

.main_content_right .nav_bread { width:673px; height:30px; border-bottom:1px solid #efefef; line-height:40px; color:#333333; }
.main_content_right .nav_bread img { float:left; margin-top:8px; margin-right:5px; }
.main_content_right .nav_bread .current_pos { font-weight:bolder; }
.main_content_right .nav_bread a { color:#333333; }
.main_content_right .nav_bread .current_cat { color:#acacac; }

.main_content_right .article_content { width:673px; height:auto; }
.main_content_right .article_content .article_content_title { width:300px; height:40px; margin-top:30px; margin-bottom:30px; }
.main_content_right .article_content .article_content_title .title_img_bg { float:left; width:17px; height:40px; background:url(../images/article_title_bg.png) no-repeat; }
.main_content_right .article_content .article_content_title .title_name { float:left; width:260px; height:40px; color:#0042b9; margin-left:15px; }
.main_content_right .article_content .article_content_title .title_name_cn { font-size:14px; }
.main_content_right .article_content .article_content_title .title_name_en { font-size:10px; }

.main_content_right .article_content .article_html { width:643px; min-height:150px; height:auto; color:#333333; padding:0px 15px 50px 15px; }
.main_content_right .article_content .article_list { width:643px; min-height:150px; height:auto; color:#333333; margin-top:-30px; padding:0px 15px 50px 15px; }
.main_content_right .article_content .article_list ul { width:620px; height:auto; padding:10px; }
.main_content_right .article_content .article_list ul li { width:620px; height:31px; border-bottom:1px dotted #cacaca; background:url(../images/news_item.png) left no-repeat; }
.main_content_right .article_content .article_list ul li .news_name { float:left; width:470px; height:31px; padding-left:15px; line-height:31px; overflow:hidden; }
.main_content_right .article_content .article_list ul li .news_name a { color:#000000; }
.main_content_right .article_content .article_list ul li .news_time { float:right; width:120px; height:31px; line-height:31px; color:#000000; }

.page_code { width:643px; height:30px; margin-top:15px; }
.page_code .page_list { float:right; width:auto; height:30px; padding-right:30px; text-align:right; color:#333333; font-size:12px; }
.page_code .page_list a{ height:15px; line-height:15px; background:#fefefe; color:#333333; font-size:12px; padding:2px 4px; border:1px solid #cacaca; }
.page_code .page_list a.current{ background:#ffeee1; color:#e68b54; border:1px solid #e68b54; }

.container_main .main_content .main_content_article_list { width:906px; height:auto; padding:20px 20px 50px 20px; }
.main_content_article_list .article_content_title { width:900px; height:40px; padding:20px 0px 20px 0px; }
.main_content_article_list .article_content_title .title_img_bg { float:left; width:17px; height:40px; background:url(../images/article_title_bg.png) no-repeat; }
.main_content_article_list .article_content_title .title_name { float:left; width:260px; height:40px; color:#0042b9; margin-left:15px; }
.main_content_article_list .article_content_title .title_name_cn { font-size:14px; }
.main_content_article_list .article_content_title .title_name_en { font-size:10px; }
.main_content_article_list .article_list { width:900px; height:auto; color:#333333; }
.main_content_article_list .article_list ul { width:880px; height:auto; padding:10px; padding-top:0px; }
.main_content_article_list .article_list ul li { width:880px; height:31px; border-bottom:1px dotted #cacaca; background:url(../images/news_item.png) left no-repeat; }
.main_content_article_list .article_list ul li .news_name { float:left; width:720px; height:31px; padding-left:15px; line-height:31px; overflow:hidden; }
.main_content_article_list .article_list ul li .news_name a { color:#000000; }
.main_content_article_list .article_list ul li .news_time { float:right; width:120px; height:31px; line-height:31px; color:#000000; }
.main_content_article_list .page_code { width:900px; height:30px; margin-top:15px; }
.main_content_article_list .page_code .page_list { float:right; width:auto; height:30px; padding-right:30px; text-align:right; color:#333333; font-size:12px; }
.main_content_article_list .page_code .page_list a{ height:15px; line-height:15px; background:#fefefe; color:#333333; font-size:12px; padding:2px 4px; border:1px solid #cacaca; }
.main_content_article_list .page_code .page_list a.current{ background:#ffeee1; color:#e68b54; border:1px solid #e68b54; }
