@charset "utf-8";
.container { height:1150px; }
.container_left { height:1150px; }
.container_right { height:1150px; }
.container_main { height:1150px; }
.container_main .main_content { width:946px; height:830px; padding:10px 7px 0px 7px; }
.container_main .main_content_left { float:left; width:595px; height:830px; }
.container_main .main_content_right { float:right; width:335px; height:830px; }
/* focus img 595*405 */
.main_content_left .focus_img { position:relative; width:595px; height:405px; background-color:#e7f0f8; margin-bottom:15px; overflow:hidden; }
.main_content_left .focus_img #focus_img_container { position:relative; top:10px; left:10px; width:574px; height:390px; overflow:hidden; }
.main_content_left .focus_img #focus_img_list { position:absolute; height:390px; width:auto; }
.main_content_left .focus_img .focus_item { float:left; position:relative; width:574px; height:390px; overflow:hidden; }
.main_content_left .focus_img .focus_item .focus_picture { width:574px; height:354px; }
.main_content_left .focus_img .focus_item .focus_picture img { width:570px; height:350px; border:2px solid #FFFFFF; }
.main_content_left .focus_img .focus_item .focus_title { width:574px; height:30px; padding-top:5px; }
.main_content_left .focus_img .focus_item .focus_title_cn { font-size:14px; color:#333333; font-weight:bolder; }
.main_content_left .focus_img .focus_item .focus_titie_en { font-size:12px; color:#666666; }
/* news list 595*385 */
.main_content_left .news_list { width:595px; height:385px; margin-bottom:15px; }
.main_content_left .news_list .news_list_title { width:595px; height:31px; background-image:url(../images/column_title_long.png); line-height:31px; }
.main_content_left .news_list .news_list_title .news_title_left { float:left; padding-left:17px; }
.main_content_left .news_list .news_list_title .news_title_left .title_name_cn { font-size:14px; color:#FFFFFF; font-weight:bolder; }
.main_content_left .news_list .news_list_title .news_title_left .title_name_en { font-size:12px; color:#3b9ace; }
.main_content_left .news_list .news_list_title .news_title_right { float:right; padding-right:5px; }
.main_content_left .news_list .news_list_title .news_title_right a { color:#6a6a6a; }
.main_content_left .news_list .news_list_ul { width:591px; height:352px; border:2px solid #ededed; border-top:none; }
.main_content_left .news_list .news_list_ul ul { width:570px; height:320px; padding:10px; }
.main_content_left .news_list .news_list_ul ul li { width:570px; height:31px; border-bottom:1px dotted #cacaca; background:url(../images/news_item.png) left no-repeat; }
.main_content_left .news_list .news_list_ul ul li .news_name { float:left; width:435px; height:31px; padding-left:15px; line-height:31px; overflow:hidden; }
.main_content_left .news_list .news_list_ul ul li .news_name a { color:#000000; }
.main_content_left .news_list .news_list_ul ul li .news_time { float:right; width:110px; height:31px; line-height:31px; color:#000000; }
/* talk 335*405 */
.main_content_right .talk { width:335px; height:405px; margin-bottom:15px; }
.main_content_right .talk .talk_title { width:320px; height:31px; background-image:url(../images/column_title_short.png); padding-left:15px; line-height:31px; }
.main_content_right .talk .talk_title .title_name_cn { font-size:14px; color:#FFFFFF; font-weight:bolder; }
.main_content_right .talk .talk_title .title_name_en { font-size:12px; color:#3b9ace; }
.main_content_right .talk .talk_content { width:311px; height:352px; border:2px solid #ededed; border-top:none; padding:10px; }
.main_content_right .talk .talk_content img { float:left; border:1px solid #dddcdc; background-color:#FFFFFF; padding:5px; margin-right:10px; margin-bottom:5px; }
.main_content_right .talk .talk_content .talk_desc { font-size:14px; color:#4474cc; font-weight:bolder; margin-bottom:10px; margin-top:5px; }
.main_content_right .talk .talk_content .talk_summary { color:#333333; line-height:20px; }
.main_content_right .talk .talk_content .talk_summary a { color:#0042b9; }
/* links 335*190 */
.main_content_right .links { width:335px; height:175px; margin-bottom:15px; }
.main_content_right .links .links_title { width:320px; height:31px; background-image:url(../images/column_title_short.png); padding-left:15px; line-height:31px; }
.main_content_right .links .links_title .title_name_cn { font-size:14px; color:#FFFFFF; font-weight:bolder; }
.main_content_right .links .links_title .title_name_en { font-size:12px; color:#3b9ace; }
.main_content_right .links .links_content { width:311px; height:122px; border:2px solid #ededed; border-top:none; padding:10px; }
.main_content_right .links .links_content ul { width:311px; height:120px; }
.main_content_right .links .links_content ul li { width:311px; height:20px; padding:5px 0px 5px 0px; line-height:20px; }
.main_content_right .links .links_content ul li img { float:left; width:14px; height:20px; margin:0px 10px 0px 10px; }
.main_content_right .links .links_content ul li a { display:inline-block; width:275px; height:20px; line-height:20px; color:#8c8c8c; }
.main_content_right .links .links_content ul li:hover { background-color:#d7e9f3; }
.main_content_right .links .links_content ul li:hover a { color:#4d72ce; text-decoration:underline; }
/* contact 335*195 */
.main_content_right .contact { width:335px; height:195px; margin-bottom:15px; }
.main_content_right .contact .contact_title { width:320px; height:31px; background-image:url(../images/column_title_short.png); padding-left:15px; line-height:31px; }
.main_content_right .contact .contact_title .title_name_cn { font-size:14px; color:#FFFFFF; font-weight:bolder; }
.main_content_right .contact .contact_title .title_name_en { font-size:12px; color:#3b9ace; }
.main_content_right .contact .contact_content { width:311px; height:142px; border:2px solid #ededed; border-top:none; padding:10px; }
.main_content_right .contact .contact_content .contact_left { float:left; width:90px; height:90px; padding-top:25px; padding-right:5px; }
.main_content_right .contact .contact_content .contact_left img { width:90px; height:90px;  }
.main_content_right .contact .contact_content .contact_right { float:right; width:215px; height:130px; line-height:25px; padding-top:10px; }
.main_content_right .contact .contact_content .contact_right span { font-size:14px; color:#333333; }
.main_content_right .contact .contact_content .contact_right span.tel { color:#0042b9; }
